*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

#search-client {
    width: 23vh;
    height: 1vw;
    border-radius: 12px;
    position: absolute;
    top: 13%;
    left: 45%;
}

.search {
    width: 23vh;
    height: 1vw;
    border-radius: 12px;
    position: absolute;
    top: 13%;
    left: 40%;
}

.container{
    width: 100%;
    height: 90vh;
}
.dflex{
    display: flex;
}

.dflex.jcc{
    justify-content: center;
}

.dflex.jcsb{
    justify-content: space-between;
}

.dflex.aic{
    align-items: center;
}

.dflex.fdc{
    flex-direction: column;
}

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}


/* ------------------------ */
.card{
    height: 50vh;
    width: 40%;
    background-color: #27566B;
    padding: 10px;
    color: #E5E8E9;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
}
.photo{
    border-left: 2px solid #E5E8E9;
    padding-left: 10px;
}

.infos{
    height: 40%;
}

.info{
    padding-right: 10px;
}

.row .label{
    font-size: 2rem;
    font-weight: 900;
}

.row .data{
    font-size: 1.5rem;
}

.title{
    font-size: 1.5rem;
}

.btn-detail{
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
}

.form{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 100%;
    background-color: #27566B;
    display: none;  
    /* background-color: #06293D;27566B */
}

.form-group{
    margin-bottom: 10px;
}

.from-control{
    width: 200px;
    padding: 10px;
    text-align: center;
}

.form-group label{
    font-size: 1.20rem;
}

input.from-control{
    font-size: 1.5rem;
    border-radius: 5px;
    border: #799eb0;
    outline: none;
}

select{
    outline: none;
    border-radius: 5px;
}

.form button{
    width: 100%;
    background-color: #06293D;
    color: #E5E8E9;
    outline: none;
    border: 1px solid #799eb0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

.next{
    padding: 5px 20px;
    font-size: 1.09rem;
    margin-top: 10px;
    background-color: #27566B;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #E5E8E9;
}

button{
    cursor: pointer;
}
.transactions {
    max-height: 50%;
    overflow-y: scroll;
}
table{
    width: 100%;
    background-color: #799eb0;
}
tr,td{
    text-align: center;
    line-height: 30px;
}

.view{
    display: block;
}
.alerte1 {
    background-color: #799eb0;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    color: #fff;
}

.plus-client {
    background-color:#019ee7;
    width: 3%;
    position: absolute;
    top: 20%;
    left: 27%;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

.new-client {
    background-color: #799eb0;
    width: 20%;
    height: 30vh;
    position: absolute;
    top:25%;
    left: 6%;
    gap: 10%    ;
    display: none;
}

.vieww {
    display:flex;
}
 
#p-client {
    color: #10d5df;
    font: 1em sans-serif;
    text-transform: uppercase ;
    margin: 0%;
}